<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tracker_of_Time.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Tracker_of_Time.My.MySettings>
            <setting name="setTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSkulltula" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setCow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setScrub" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setShop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setLogic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setBombchus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setLensOfTruth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setStoneOfAgony" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setHoverTricks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFewerTunics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setOpenKF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setOpenZF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setRainbow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setDekuB1Skip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDCStaircase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDCSpikeJump" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDCSlingshotSkips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDCLightEyes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFoTVines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFoTFrame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFoTBackdoor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFoTMQPuzzle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFoTMQTwisted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFoTMQWell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFoTLedge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setSmallKeys" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setFiTClimb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFiTMaze" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFiTMQClimb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFiTRustedSwitches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFiTMQMazeHovers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFiTMQMazeJump" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWaTTorch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWaTDragonDive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWaTBKR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWaTCrackNothing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWaTCrackHovers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setSpTWall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setSpTBombchu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setSpTMQLowAdult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setSpTMQSunRoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setShTLensless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setShTUmbrella" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setShTMQGap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setShTStatue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setBotWLensless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setBotWDeadHand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setNavi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setBeans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setSalesman" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWastelandBackstep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWastelandLensless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWastelandReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setShTPlatform" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setIGCMQRustedSwitches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setHideSpoiler" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setCucco" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWaTDrgnSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setSpTLensless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setShTMQPit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setBotWMQPits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setIGCLensless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setExpand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setFiTScarecrow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setShortForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setGSLoc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setHideQuests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setGTGLensless" serializeAs="String">
                <value>False</value>
            </setting>
        </Tracker_of_Time.My.MySettings>
    </userSettings>
</configuration>